@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height: 500px;">
    <div class="w-75">
        <h2>Tentang</h2>
        <p class="my-2">
            Ini merupakan modul latihan .NET Core Web Application (MVC) untuk mata kuliah Framework Enterprise
        </p>
        <b>M. Hibatillah</b>
    </div>
</div>
